.about-section {
  padding: 40px;
  background-color: #f7f7f7;
  text-align: center;
}

.about-section h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.about-section p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.college-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.info-item {
  border: 1px dotted rgb(195, 195, 195);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.info-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.info-item p {
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  margin: 0px;
}

.admission-criteria {
  margin-top: 50px;
}

.admission-criteria h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.admission-criteria table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: #f9f9f9;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

.admission-criteria table th,
table td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.admission-criteria table th {
  background-color: #f2f2f2;
}

.admission-criteria table tr:last-child td {
  border-bottom: none;
}

.admission-criteria table tr:hover {
  background-color: #f5f5f5;
}

/* history */

/* Section Container */
.history-section {
  width: 93%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: #d9efff;
  padding: 40px;
  margin-top: 60px;
  border-radius: 10px;
  border: 1px dotted rgb(58, 124, 248);
}

/* Left Side (Image) */
.history-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 8px;
}

.history-image img {
  object-fit: cover;
  max-height: 300px;
  max-width: 100%;
}

/* Right Side (Content) */
.history-content {
  flex: 2;
  padding-left: 40px;
}

.history-content h2 {
  font-size: 28px;
  color: #2196f3;
}

.history-content p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

/* history */

/* depertment */
/* Section Container */
.department-section {
  display: flex;
  align-items: center;
  background-color: #fdffde;
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1.5px dotted #beac04;
}
.vertical_bar_dep {
  flex: 1;
  height: 100px;
  border-left: 2px solid #beac04;
}

/* Left Side (Department Name) */
.department-name {
  flex: 30%;
}

.department-name h2 {
  font-size: 28px;
  color: #beac04;
}

/* Right Side (Department List) */
.department-list {
  flex: 70%;
  padding: 20px;
}

.department-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.department-list li {
  font-size: 18px;
  color: #beac04;
  padding: 10px;
  border-bottom: 1px solid #beac04;
}

.department-list li:last-child {
  border-bottom: none;
}

.department-list li span {
  font-size: 18px;
  color: #beac04;
}

.infra {
  background-color: #ffe3e3;
  border: 1.5px dotted #ff6c6c;
}
.vertical_bar {
  flex: 1;
  height: 100px;
  border-left: 2px solid #ff6c6c;
}

.infra h2 {
  color: #ef4a4a;
}

.lab {
  background-color: #e5ffcc;
  border: 1.5px dotted #44ab09;
}
.lab h2 {
  color: #44ab09;
}

.vertical_bar_lab {
  flex: 1;
  height: 100px;
  border-left: 2px solid #87af04;
}

@media (max-width: 768px) {
  .college-info {
    gap: 10px;
  }
  .about-section {
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
  }

  .history-section {
    width: 86%;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .history-content {
    flex: 2;
    padding-left: 0px;
  }

  .department-section {
    display: flex;
    flex-direction: column;
  }

  .admission-criteria {
    width: 100%;
    overflow-x: auto;
  }
}
