/* Teachers.css */
.teachers-container {
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.313);
  padding: 20px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.teachers-container h2 {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 40px;
}

.teachers-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.not_found {
  margin-top: 0px;
  height: 72%;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  border: 1px solid rgb(203, 203, 203);
  background-color: rgb(236, 236, 236);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.313);
}

.teachers-list {
  flex-basis: 60%;
}

.teacher-card {
  display: flex;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.313);
  border: 1px dotted #626161;
  margin-bottom: 20px;
  align-items: center;
  transition: background-color 0.3s ease;
}

.teacher-card:hover {
  background-color: rgb(30, 202, 179);
}

.teacher-image img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.teacher-details {
  margin-left: 20px;
}

.teacher-details h3 strong {
  font-size: 28px;
  font-weight: 500;
  color: #383838;
}

.teacher-details p {
  margin: 5px 0;
  color: #383838;
}

.teachers-sidebar {
  flex-basis: 35%;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: rgb(236, 236, 236);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.313);

  margin-bottom: 20px;
  height: 160px;
}

.teachers-sidebar h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 0px;
}

.teachers-sidebar select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.search-container input {
  width: 94%;
  padding: 10px;
}

@media (max-width: 768px) {
  .teachers-container {
    padding: 15px;
  }
  .teachers-box {
    flex-direction: column;
    width: 90%;
  }
  .teachers-container h2 {
    font-size: 26px;
  }

  .teacher-details p {
    font-size: small;
  }
  .teacher-details h3 strong {
    font-size: 24px;
    font-weight: 500;
  }

  .teacher-card {
    width: 89%; /* Make both boxes take full width on mobile devices */
  }

  .teachers-sidebar {
    width: 100%; /* Make both boxes take full width on mobile devices */
  }

  .teacher-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }

  .teachers-sidebar {
    order: -1; /* Move the search box to the top */
    margin-bottom: 20px; /* Add margin to create space between the search box and other content */
  }

  .search-container input {
    width: 93%;
    padding: 10px;
  }
}
