/* Navbar.css */
.main-nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 0 15px;
}

small {
  font-size: larger;
  font-weight: bold;
  color: rgb(11, 122, 130);
}

.left-section {
  margin-left: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-section img {
  height: 80px;
  width: 80px;
}

.right-section {
  padding: 10px;
  margin-right: 6px;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0px;
}

.right-section li {
  font-size: 14px;
  position: relative;
  padding: 0 10px;
}

.nav-links li a {
  text-decoration: none; /* Remove underline from links */
  color: #1ab39a;
}

.nav-links li span {
  cursor: pointer;
  transition: color 0.2s ease; /* Add transition for color change on hover */
}

/* Change text color on hover for nav-links */
.nav-links li:hover span {
  color: #1cc3aa; /* Change to the desired color when hovering */
}

.dropdown-content a {
  padding: 10px;
  text-decoration: none;
  display: block; /* Display each option as a block to stack them vertically */
  position: relative;
  color: #d6fff8;
}

.dropdown-content a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10px;
  width: calc(100% - 20px);
  height: 1px;
  background-color: #53d8c2;
}

/* Set the max-height to a value that is larger than the dropdown content height */
.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 4px;
  display: none;
  background-color: #03312ae6;
  box-shadow: 0px 8prgb (7, 45, 40) 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 30px;
  min-width: 200px;
  opacity: 0;
  text-decoration: none;
  max-height: 0; /* Start with 0 height */
  overflow: hidden;
  transition: max-height 0.3s ease; /* Set the transition property */
}

/* DropdownContent.css */
.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
  max-height: 500px; /* Set an appropriate max-height value that accommodates your content */
  transition: max-height 0.3s ease, opacity 0.3s ease; /* Add the desired transition effect */
}

span {
  font-size: 13px;
  font-weight: bold;
  color: #066454;
}

@media (max-width: 768px) {
  .left-section {
    margin-left: -5px;
  }
}
