/* NoticeBar.css */
.notice-bar {
  display: flex;
  align-items: center;
  /* background-color: #cdffe3; */
  background-color: #95e3d9;
  padding: 0px;
  border-top: 1px solid #1bb07c; /* Add left border */
  border-bottom: 1px solid #1bb07c; /* Add right border */
}

.latest-notice {
  background-color: #04584d;
  padding: 6px;
  margin-left: 40px;
  margin-right: 10px;
}

.latest-notice a {
  font-size: 15px;
  padding: 10px;
  color: #d4fff1;
  font-weight: bold;
  text-decoration: none;
}

.notice-text {
  flex: 1; /* Take remaining space */
  overflow: hidden; /* Hide any overflowing text */
}

marquee {
  font-size: 14px;
  font-weight: bold;
  color: #04584d;
  white-space: nowrap;
  cursor: pointer;
}

.notice-text:hover marquee {
  animation-play-state: paused; /* Stop the animation on hover */
}

.notice-bar span {
  font-size: 14px;
  font-weight: 600;
  color: #023a33;
}

@media (max-width: 768px) {
  .latest-notice {
    background-color: #04584d;
    padding: 6px;
    margin-left: 10px;
  }
}
