/* Topnav.css */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #044b42;
  color: #fff;
  padding: 3px 33px;
}

.navbar-logo {
  color: #fff;
  font-weight: 500;
  font-size: small;
  text-decoration: none;
  padding: 0px;
}

.navbar-logo_login {
  color: #090909;
  background-color: #96fadb;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  padding: 12px;
}

.navbar-menu {
  font-size: medium;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  padding: 7px;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

/* Media Query for Mobile */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-menu {
    flex-direction: column;
    margin-left: -30px;
  }
  .navbar-logo_apply {
    padding: 8px;
    border: 1px solid #00b798;
  }

  .navbar-item {
    margin: 5px 0;
  }

  .navbar-logo_login {
    color: #60ffdf;
    background-color: #044b42;
    border: 1px dotted #00b798;
  }
}
