.main-footer {
  background-color: #0b483e;
  padding: 30px;
  color: #f4f4f4;
  margin: 0;
}

.main-footer-columns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; /* Change this line to center the columns */
  margin-top: 30px;
}

.footer-column {
  flex: 1;
  margin-bottom: 20px;
  margin-left: 20px;
}

.footer-column h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: left;
}

.footer-column ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-column li {
  margin-bottom: 8px;
  text-align: left;
}

.footer-column a {
  color: #f4f4f4;
  text-decoration: none;
}

.footer-column a:hover {
  text-decoration: underline;
}

.copy-right {
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
  font-size: 14px;
}

.footer-icons {
  display: flex;
  align-items: center;
  justify-content: center; /* Add this line to center the icons horizontally */
}

.social-icon {
  text-decoration: none;

  font-size: 24px;
  color: #f4f4f4;
  margin: 0 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #30b19c8a;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .main-footer-columns {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    margin-top: 30px;
  }

  .social-icon {
    font-size: 18px;
    color: #f4f4f4;
    margin: 0 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1590658a;
    border-radius: 50%;
  }

  /* Rest of your styles... */
}
